.Rproj.user
.Rhistory
.RData
.DS_Store

csas-style
knitr-cache-docx
knitr-cache-pdf
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf
reference-materials
models*

_book/

techreport.Rmd
techreport.tex

*.aux
*.jpg
*.html
*.knit.md
*.log
*.pdf
*.rda
*.rds
*.Rproj
*.sty
*.upa
*.utf8.md
